*{
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    width:100vw;
    height: 100vh;

}

body {
    width: 100%;
    height: 100%;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(0,0,0,0.4), rgb(255,255,255));
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    justify-content: stretch;
    margin: 1rem auto;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(212, 208, 208);
}

#screen {
    height: 5rem;
    background-color: rgba(255,255,255,0.3);
    padding: 0.5rem 0.8rem;
    align-self: center;
    display: flex;
    font-size: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 6px;
    color: white;
    margin-bottom: 0.4rem;
}

#calculator-tabel {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    flex:auto;
    gap: 1rem;
}

#number-list {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.4rem;
}


.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 117, 126);
    padding: 1rem 0.5rem;
    font-size: 2rem;
    color: white;
    border-radius: 8px;
}

.numbers:hover {
    background-color: rgb(94, 91, 94);
    transform: scale(1.04);
}


#operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    gap: 0.1rem;
    font-family:  Courier, monospace;
    font-weight: bold;
    flex:auto;
    font-size: 2rem;
}

.operation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid;
    margin: 0.1rem 0;
    border-radius: 6px;
    flex: auto;
}

.operation:hover {
    background-color: rgb(189, 189, 176);
    color: white;
}

#clear {
    font-size: 1.5rem;
}

#clear:hover {
    background-color: red;

}


@media (max-width:768px) {
    #screen {
        font-size: 1.8rem;
    }
    #operations{
        font-size: 1.5rem;
    }
    .numbers {
        font-size:1.8rem;
    }
    #clear {
    font-size: 1rem;
    }
    #calculator {
        width: 90%;

    }
}




@media (max-width:480px) {
    #screen {
        font-size: 1.5rem;
    }
    #operations{
        font-size: 1rem;
    }
    .numbers {
        font-size:1.5rem;
    }
    #clear {
    font-size: 0.8rem;
    }
    #calculator {
        width: 90%;

    }
}